= javascript_pack_tag 'hello_vue'

h1 ENJOY MUSIC CLUB : そんな夜
p ドラマチックとはほど遠い
p ドラマチックの欠片もない
p いつものいくつものバカばなし
p そのリズム I Love You
P そのな夜〜♪

#hello
  = "{{message}}"

= javascript_pack_tag 'static_pages'
