.title {
  background-color: #feaeef;
  color: #fef32f;
}

.post_form--area {
  margin: 0 auto;
  width: 400px;
  height: 300px;
  text-align: center;
  background-color: #4CB2D4;
  border: 15px solid #ded3fa;
}

.btn {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  background-color: #c1ea46;
}
